footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 101, 145);
    color:aliceblue;
}
.parr_edit {
    text-align: center;
}
hr{
    color:aliceblue;
}
a {
    text-decoration: none;
    color: yellow;
}